@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #edfcf8;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
}

/* Navigation */

.navigation {
    text-align: center;
    padding-top: 20vh;
    height: auto;
}

.navigation h1 {
    font-size: 3rem;
    letter-spacing: 5px;
    color: #090302;
}

.nav_btn {
    padding: 0;
}

.blue {
    color: #059c73;
}

.blue-bg, .emphasis_word_angular {
    background-color: #059c73;
    padding: 0 10px;
    margin: 0;
    border-radius: 15px;
}

.btn {
    border: 2px solid black;
    background: none;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 20px 10px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    color: #059c73;
    transition: 800ms;
    overflow: hidden;
    position: relative;
}

.btn:hover, .btn:focus {
    color: #000;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #0be6ab;
    z-index: -1;
    transition: 800ms;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn:hover::before, .btn:focus::before {
    height: 180%;
}

.hello {
    margin: 5vw 0;
    width: 100%;
    margin-left: 10%;
    height: auto;
}


/* About Section */
#about {
    height: auto;
}

#aboutMe {
    width: 100%;
    height: auto;
    opacity: 70%;
    margin: 20% 0;
}

#about_contact {
    margin-left: 0;
    margin-top: 0;
}

.title {
    padding-top: 10vh;
    font-family: 'Fjalla One', sans-serif;
    color: #000;
    letter-spacing: 4px;
    font-size: 3.5em;
    text-transform: uppercase;
    opacity: 90%;
}

.about_text {
    margin: 12vh 0;
    opacity: 0;
    transition: 700ms;
}

.about_text_appear {
    margin: 10vh 0;
    opacity: 1;
}


.about_text p {
    font-size: 1.5em;
}

/* Skills */
#skills {
    height: auto;
}

.bars {
    margin-top: 5vh;
}

.bars h4 {
    margin-top: 30px;
}

.skill_text_appear {
    opacity: 1;
}

.progress-bar {
    background-color: #059c73;
}

/* PROJECTS */

.cards {
    margin-top: 5vh;
    margin-left: 0;
}

.card {
    background: #fff;
    border: 1px solid black;
    padding-right: 0;
}

.margin-top-25 {
    margin-top: 15px;
}

.card-body button {
    margin-left: 0;
    font-size: 1em;
    padding: 10px;
}

.card-img {
    width: auto;
    height: auto;
    margin: 30% 10%;
    opacity: 70%;
}