@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.row {
}

/* Navigation */

.navigation {
    background-image: url(/assets/wavebg.svg);
    background-size: cover;
    text-align: center;
    padding-top: 20vh;
    height: 80vh;
}

.navigation h1 {
    font-size: 3em;
    letter-spacing: 2px;
    font-family: 'Fjalla One', sans-serif;
    color: #090302;
}

.navigation ul {
  position: relative;
  list-style-type: none;
  margin: 50px 0;
  padding: 0;
  text-align: center;
}

.navigation ul li {
    display: inline;
    margin: 0;
    padding: 10px;
    transition: 150ms;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: #424B54;
}

a {
    color: #424B54;
}

a:hover {
    color: white;
    text-decoration: none;
}

.navigation ul li:hover {
    border: 1px solid black;
    border-radius: 5px;
    color: white;   
    padding: 15px;
    cursor: pointer;
}

/* About Section */
#about {
    height: 50vh;
}